.top
  .top__title
    RoutineShare
  .top__rogo
    .top__rogo__text
      If the habit changes, the personality changes. Fate changes when personality changes.
    .top__rogo__translation
      習慣が変われば人格が変わる。人格が変われば運命が変わる。
    .top__rogo__author
      〜William James〜

.center
  .center__display
    .center__display__date
      = @today
    .center__display__name
      = current_user.name
    .center__display__check
      = link_to new_tweet_path, class: "center__display__check__btn" do
        Today's routine check
    .center__display__routineList
      = link_to tweets_path, class: "center__display__routineList__btn" do
        Records so far
    .center__display__item
      .center__display__item__edit
        = link_to edit_user_path(current_user), class: "center__display__item__edit__btn" do
          Edit my account
          = icon('fa', 'cog', class: 'icon')
      .center__display__item__create
        = link_to new_group_path, class: "center__display__item__create__btn" do
          Create routine
          = icon('fa', 'edit', class: 'icon')

.bottom
  - current_user.groups.each do |group|
    .bottom__content
      .bottom__content__image
        = image_tag group.image
      .bottom__content__text
        = group.name
      .bottom__content__member
        .bottom__content__member__text
          Member
        - group.users.each do |user|
          .bottom__content__member__list
            = user.name
      .bottom__content__edit
        = link_to edit_group_path(group), class: "bottom__content__edit__btn" do
          edit
