.top
  .top__title
    RoutineShare
  .top__rogo
    .top__rogo__text
      If the habit changes, the personality changes. Fate changes when personality changes.
    .top__rogo__translation
      習慣が変われば人格が変わる。人格が変われば運命が変わる。
    .top__rogo__author
      〜William James〜

.center
  .center__display
    .center__display__item
      .center__display__item__name
        tony
      .center__display__item__date
        4月２日
        -# = @today
      .center__display__item__edit
        = link_to "#", class: "center__display__item__edit__btn" do
          マイアカウント編集
          = icon('fa', 'cog', class: 'icon')
      .center__display__item__create
        = link_to "#", class: "center__display__item__create__btn" do
          ルーティン作成
          = icon('fa', 'edit', class: 'icon')
    .center__display__check
      = link_to "#", class: "center__display__check__btn" do
        今日のルーティンチェック

        -# = current_user.name
        -# = link_to edit_user_path(current_user), class: "center__display__item__edit__btn" do
        -# = link_to new_group_path(current_user), class: "center__display__item__create__btn" do

.bottom
  .bottom__content
    .bottom__content__image
      -# = image_tag group.image
      グループ画像
    .bottom__content__text
      -# = group.name
      自炊
    .bottom__content__show
      = link_to "#", class: "bottom__content__show__btn" do
        詳細
    .bottom__content__edit
      = link_to "#", class: "bottom__content__edit__btn" do
        edit

  -# - current_user.groups.each do |group|
  -# = link_to group_path(@group), class: "bottom__content__show__btn" do
  -# = link_to edit_group_path(@group), class: "bottom__content__edit__btn" do
